@model IEnumerable<OS_GJ_Tutoring.Models.SessionsDB>

@{
    ViewData["Title"] = "Index";
}

<!--Home bar-->
<div class="home_bar">
    <h6>Sessions</h6>
</div>

<!--Side bar with list of pages-->

<nav class="bar">

    <ul>

        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>Menu</h1>

        <li><a href="/Home/Dashboard">Dashboard</a></li>
        <li><a href="/Home/Resources">Resources</a></li>
        <li><a href="/SessionsDBs/Index">Sessions</a></li>
        <li><a href="/Home/Quizzes">Quizzes</a></li>
        <li><a href="/Home/Discussion_Forum">Discussion Forum</a></li>
        <li><a href="/CoursesDBs/Index">Courses</a></li>



    </ul>


</nav>

<div class="internal_page">
    <h1>Sessions</h1>

    <p>
        <a asp-action="Create" style="color: #8a77c4">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TutorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TutorSubject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TutorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TutorSubject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

